body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .welcomeBody {
  max-width: 500px;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
} */

.welcomeContent {
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: honeydew 1rem solid ;
  border-radius: 2%;
  box-shadow: 2px 2px 4px rgb(197, 197, 238);
}

.welcomeContent img {
  height: 150px;
  width: 200px;
  border: honeydew 0.4rem solid ;
  border-radius: 6%;
  box-shadow: 2px 2px 4px lavender;
}

.welcomeContent img:hover{
  height: 158px;
  width: 210px;
  border: honeydew 0.4rem solid ;
  border-radius: 6%;
  box-shadow: 2px 2px 4px rgb(81, 81, 97);
  transform: scaleX(-1);
  opacity: 0.8;
}

@media (min-width: 300px) {
  .welcomeContent {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .welcomeContent {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
}